<h2 mat-dialog-title>Publications</h2>
<mat-dialog-content>
  <div class="active-content">
    <form class="form-field-container" [formGroup]="publicationForm">
      <mat-form-field class="form-field-dropdown" appearance="fill">
        <mat-label>Publication Type</mat-label>
        <mat-select formControlName="Publication_Type_Ref" >
          <mat-option *ngFor="let q of input.publicationType" [value]="q.Ref_Code">{{q.Ref_Name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="publicationForm.get('Publication_Type_Ref')?.invalid">Please Select Valid Entry</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-dropdown" appearance="fill">
        <mat-label>Level</mat-label>
        <mat-select formControlName="Level_Ref">
          <mat-option *ngFor="let d of input.level" [value]="d.Ref_Code">{{d.Ref_Name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="publicationForm.get('Level_Ref')?.invalid">Please Select Valid Entry</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" >
        <mat-label>Paper Title</mat-label>
        <input matInput formControlName="Paper_Title"  >
        <mat-error *ngIf="publicationForm.get('Paper_Title')?.invalid">Please Enter Valid Title</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>First Author</mat-label>
        <input matInput formControlName="First_Author"  >
        <mat-error *ngIf="publicationForm.get('First_Author')?.invalid">Please Enter Valid Name</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Second Author</mat-label>
        <input matInput formControlName="Second_Author"  >
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Other Authors</mat-label>
        <input matInput formControlName="Other_Authors"  >
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Journal Name</mat-label>
        <input matInput formControlName="Journal_Name"  >
        <mat-error *ngIf="publicationForm.get('Journal_Name')?.invalid">Please Enter Valid Name</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Volume</mat-label>
        <input matInput type="number" formControlName="Volume"   >
        <mat-error *ngIf="publicationForm.get('Volume')?.invalid">Please Enter Valid Entry</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Issue</mat-label>
        <input matInput type="number" formControlName="Issue"  >
        <mat-error *ngIf="publicationForm.get('Issue')?.invalid">Please Enter Valid Entry</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>DOI</mat-label>
        <input matInput type="text" formControlName="DOI"  >
        <mat-error *ngIf="publicationForm.get('DOI')?.invalid">Please Enter Valid Entry</mat-error>
      </mat-form-field>
      <mat-form-field  class="form-field-dropdown" appearance="fill">
        <mat-label>Year of Publication</mat-label>
        <input matInput [matDatepicker]="pickerStart" formControlName="Year_Of_Publish">
        <mat-error *ngIf="publicationForm.get('Year_Of_Publish')?.invalid">Please Enter Valid Date</mat-error>
        <mat-datepicker-toggle matSuffix [for]="pickerStart">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStart startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Start Page No</mat-label>
        <input matInput type="number" formControlName="Start_Page_No"  >
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>End Page No</mat-label>
        <input matInput type="number" formControlName="End_Page_No"  >
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Publisher</mat-label>
        <input matInput formControlName="Publisher"  >
        <mat-error *ngIf="publicationForm.get('Publisher')?.invalid">Please Enter Valid Entry</mat-error>
      </mat-form-field>
      <br>

    </form>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" [disabled]="publicationForm?.invalid" (click)="onSubmit()">Confirm</button>
</mat-dialog-actions>
