<div class="header">
  <mat-icon>dashboard</mat-icon><span class="title">Educational Qualification</span>
</div><br>
<div class="active-content">
  <mat-form-field class="form-field">
    <mat-label>Staff ID</mat-label>
    <input matInput value="123"  readonly="true">
  </mat-form-field> <button mat-raised-button class="add-btn" color="primary" (click)="createDialog()" >Add Qualification</button> <br>
  <form class="form-field-container" *ngFor="let qualification of qualifications">
    <mat-form-field class="form-field">
      <mat-label>Institution</mat-label>
      <input matInput [value]="qualification.Institution" readonly="true" >
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>University</mat-label>
      <input matInput [value]="qualification.University" readonly="true" >
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Qualification Level</mat-label>
      <input matInput value="POST GRADUATE" readonly="true" >
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Degree</mat-label>
      <input matInput value="B.E." readonly="true" >
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Branch</mat-label>
      <input matInput value="COMPUTER SCIENCE AND ENGINEERING" readonly="true" >
    </mat-form-field>
    <mat-form-field  class="form-field" appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput [value]="qualification.Start_Date" readonly="true" >
    </mat-form-field>
    <mat-form-field  class="form-field" appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput [value]="qualification.End_Date" readonly="true" >
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Class Obtained</mat-label>
      <input matInput value="First Class" readonly="true" >
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Thesis Title</mat-label>
      <input matInput [value]="qualification.Thesis_Title" readonly="true"  >
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Specilization</mat-label>
      <input matInput [value]="qualification.Specialization"  readonly="true" >
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Faculty Research</mat-label>
      <input matInput [value]="qualification.Faculty_Research" readonly="true"  >
    </mat-form-field><br>
    <br>
    <div class="form-field">
    <button mat-raised-button color="accent" (click)="openDialog(qualification.Qualification_ID)">Update</button>
    </div><br>
    <mat-divider></mat-divider>

  </form>

</div>
