<h2 mat-dialog-title>Educational Qualification</h2>
<mat-dialog-content>
  <div class="active-content">
    <form class="form-field-container" [formGroup]="educationForm">
      <mat-form-field class="form-field-dropdown" appearance="fill">
        <mat-label>Qualification Level</mat-label>
        <mat-select formControlName="Qualification_Level_Ref" >
          <mat-option *ngFor="let q of input.qualificationLevel" [value]="q.Ref_Code">{{q.Ref_Name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="educationForm.get('Qualification_Level_Ref')?.invalid">Please Select Valid Entry</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-dropdown" appearance="fill">
        <mat-label>Degree</mat-label>
        <mat-select formControlName="Degree_Ref">
          <mat-option *ngFor="let d of input.degree" [value]="d.Ref_Code">{{d.Ref_Name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="educationForm.get('Degree_Ref')?.invalid">Please Select Valid Entry</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-dropdown" appearance="fill">
        <mat-label>Branch</mat-label>
        <mat-select formControlName="Branch_Ref" >
          <mat-option *ngFor="let b of input.branch" [value]="b.Ref_Code">{{b.Ref_Name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="educationForm.get('Branch_Ref')?.invalid">Please Select Valid Entry</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" >
        <mat-label>Institution</mat-label>
        <input matInput formControlName="Institution"  >
        <mat-error *ngIf="educationForm.get('Institution')?.invalid">Please Enter Valid Name</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>University</mat-label>
        <input matInput formControlName="University"  >

        <mat-error *ngIf="educationForm.get('University')?.invalid">Please Enter Valid Name</mat-error>
      </mat-form-field>
      <mat-form-field  class="form-field-dropdown" appearance="fill">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="pickerStart" formControlName="Start_Date">
        <mat-error *ngIf="educationForm.get('Start_Date')?.invalid">Please Enter Valid Date</mat-error>
        <mat-datepicker-toggle matSuffix [for]="pickerStart">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStart startView="multi-year" ></mat-datepicker>
      </mat-form-field>
      <mat-form-field  class="form-field-dropdown" appearance="fill">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="pickerEnd" formControlName="End_Date">
        <mat-error *ngIf="educationForm.get('End_Date')?.invalid">Please Enter Valid Date</mat-error>
        <mat-datepicker-toggle matSuffix [for]="pickerEnd">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerEnd startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field-dropdown" appearance="fill">
        <mat-label>Class Obtained</mat-label>
        <mat-select formControlName="Class_Obtained_Ref">
          <mat-option *ngFor="let c of input.classObtained" [value]="c.Ref_Code">{{c.Ref_Name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="educationForm.get('Class_Obtained_Ref')?.invalid">Please Select Valid Entry</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Thesis Title</mat-label>
        <input matInput formControlName="Thesis_Title"  >

      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Specilization</mat-label>
        <input matInput formControlName="Specialization"  >

      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Faculty Research</mat-label>
        <input matInput formControlName="Faculty_Research"  >

      </mat-form-field><br>

    </form>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" [disabled]="educationForm?.invalid" (click)="onSubmit()">Confirm</button>
</mat-dialog-actions>
