<h2 mat-dialog-title>Experience</h2>
<mat-dialog-content>
  <div class="active-content">
    <form class="form-field-container">
      <mat-form-field class="form-field-dropdown" appearance="fill">
        <mat-label>Designation</mat-label>
        <mat-select name="designation" [(ngModel)]="data.Designation_Ref" >
          <mat-option *ngFor="let q of input.designation" [value]="q.Ref_Code">{{q.Ref_Name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field" >
        <mat-label>Organization</mat-label>
        <input matInput name="organization" [(ngModel)]="data.Organization"  >
      </mat-form-field>
      <mat-form-field class="form-field" >
        <mat-label>Department</mat-label>
        <input matInput name="department" [(ngModel)]="data.Department"  >
      </mat-form-field>
      <mat-form-field  class="form-field-dropdown" appearance="fill">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="pickerStart" name="dob-s" [(ngModel)]="data.Start_Date">
        <mat-datepicker-toggle matSuffix [for]="pickerStart">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field  class="form-field-dropdown" appearance="fill">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="pickerEnd" name="dob-e" [(ngModel)]="data.End_Date">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field-dropdown" appearance="fill">
        <mat-label>Employee Category</mat-label>
        <mat-select name="emp-category" [(ngModel)]="data.Emp_Category_Ref" >
          <mat-option *ngFor="let q of input.empCategory" [value]="q.Ref_Code">{{q.Ref_Name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-dropdown" appearance="fill">
        <mat-label>Work Nature</mat-label>
        <mat-select name="work-nature" [(ngModel)]="data.Work_Nature_Ref" >
          <mat-option *ngFor="let q of input.workNature" [value]="q.Ref_Code">{{q.Ref_Name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field" >
        <mat-label>Position Held</mat-label>
        <input matInput name="position-held" [(ngModel)]="data.Position_Held"  >
      </mat-form-field>
    </form>
  </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Confirm</button>
  </mat-dialog-actions>
